.textUpdaterNode {
  min-height: 80px;
  max-height: 250px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  text-align: center;
  border: 1px solid #2d7aed;
  padding-bottom: 50px;
}
.textUpdaterNode:active,
.textUpdaterNode:focus {
  border-color: #ffb850;
}
.textUpdaterNode label {
  display: block;
  color: #777;
  font-size: 14px;
  font-weight: 700;
}
.dropdownWrap {
  display: flex;
  flex-direction: column;
}
.dropdownWrap > div {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 48px;
  text-align: left;
  word-wrap: break-word;
}

.textField {
  height: 28px;
  outline: none;
}

.textField:focus-within {
  border: 1px solid #eee;
}

.textField > label {
  color: rgb(130, 130, 130) !important;
  font-weight: 400 !important;
  text-align: left;
  word-wrap: break-word;
}

.singleTextNode {
  min-height: 25px;
  width: 200px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  background: white;
  text-align: center;
  border: 1px solid #2d7aed;
}
.singleTextNode:active,
.singleTextNode:focus {
  border-color: #ffb850;
}
.MuiPaper-root .MuiMenu-paper {
  min-width: 100px !important;
}
.tooltip {
  background-color: #ade7d1;
  font-size: 12px;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
}
